/* Colors */
$color-black : #444;
$color-dark-black : #333;
$color-white : #fff;
$color-red: #d6330d;
$color-gray: #ddd;
$color-dark-gray: #ccc;
$color-light-gray: #f2f1f1;
$color-darker-gray: #9f9f9f;
$color-pink: #fc6c6e;

/* Media queries */
$mobile-landscape-view : (max-width: 767px);
$ipad-landscape-view : (min-width: 768px);
$ipad-landscape-view-max : (max-width: 992px);

/* Fonts */
$font-sm : 12px;
$font-md : 14px;
$font-lg : 16px;
$font-xl : 26px;